@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,500');
@import "owi";
@import "flaticon";


* {
	//box-sizing: border-box;
	outline: none;
	//font-family: 'Roboto', sans-serif;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: inherit;
	user-select: none;
}

html, body {
	width: 100%;
	height: 100%;
}

html {
	font-size: 62.5%;
}

body {
	margin: 0;
	padding: 0;
	background-color: #f8f8f8;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	//color: #2c3e50;
	color: #d5d4d0;
	font-size: 2rem;
	line-height: 1.6;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}


.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: inherit;  /* Preferred icon size */
	display: inline-block;
	//line-height: inherit;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	vertical-align: middle;
	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;

	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;

	/* Support for IE. */
	font-feature-settings: 'liga';
}
